/*******************************TAG SELECTORS**********************************/
body {
    background-color:#C2DED1;
}

hr{
    background-color: none;
    border-style: dotted none none none;
    border-color: gray;
    border-width: 10px;
    height: 0px;
    width: 3%;
}

h1{
    display: block;
    font-size: 4em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #66BFBF;
    text-shadow: 2px 2px 2px #268585;
}


h2{
    display: block;
    font-size: 2.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #66BFBF;
    text-shadow: 2px 2px 2px #268585;
}

h3{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #66BFBF;
    text-shadow: 2px 2px 2px #268585;
}
table{
    border-spacing: 60px;
}


/*******************************TAG SELECTORS**********************************/

.bballpic{
    height: 400px;
    width: 400px;
}
.gamingpic{
    height: 400px;
    width: 400px;   
}

.codinglist{
    border-spacing: 20px;
}
